[submodule "lib/typedjs"]
	path = lib/typedjs
	url = https://github.com/mattboldt/typed.js.git
[submodule "lib/vex"]
	path = lib/vex
	url = https://github.com/HubSpot/vex.git
[submodule "lib/socket.io"]
	path = lib/socket.io
	url = https://github.com/socketio/socket.io-client.git
[submodule "lib/js-sha256"]
	path = lib/js-sha256
	url = https://github.com/emn178/js-sha256.git
[submodule "lib/openpgp"]
	path = lib/openpgp
	url = https://github.com/openpgpjs/openpgpjs.git
[submodule "lib/materialize"]
	path = lib/materialize
	url = https://github.com/Dogfalo/materialize.git
[submodule "lib/jsloader"]
	path = lib/jsloader
	url = https://github.com/mrvik/jsloader.git
